:root {
  --clr-1: #84ccc4;
  --clr-2: #04948c;
  --clr-3: #52d5c15d;
  --clr-4: #c4e4e4;
  --clr-5: #84dca8;
  --clr-6: #97afa7b6;
  --clr-7: #74d0a81a;
  --clr-8: #f5f5f5;
  --clr-9: #0d0d0d;

  --switch-block: 4rem;
  --slider-width: 26px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: calc(8rem + 5px);
  margin: 0;
  background-color: var(--clr-8);
}

h1,
h2,
h3,
h4,
p,
label,
button {
  color: var(--clr-9);
}

body:has(.switch-box:checked) {
  --clr-1: #2c3936;
  --clr-2: #24766f;
  --clr-3: #24584d;
  --clr-4: #3e4c4c;
  --clr-5: #2c5538;
  --clr-6: #2d3a3a4d;
  --clr-7: #2e4e2c1a;
  --clr-8: #1a1a1a;
  --clr-9: #f5f5f5;
}

button > img {
  height: 12px;
  aspect-ratio: 1;
}

.heading-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 12rem;
  background-color: var(--clr-4);
  border-bottom: 5px solid var(--clr-2);
  z-index: 99;
}

.main-logo {
  width: 18rem;
}

.text-inp {
  border: none;
  padding: 1rem;
  background-color: transparent;
  color: var(--clr-2);
  width: 20rem;
  outline: none;
  font-size: 1.2rem;
  transition: ease-in-out 200ms;
}

.options-box {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 18rem;
  position: relative;
}

.option-btn,
.user-menu {
  background-color: transparent;
  font-size: 3rem;
  padding: 1rem;
  color: var(--clr-2);
  border: none;
  cursor: pointer;
  transition: ease-in-out 200ms;
  position: relative;
}

.user-menu {
  padding: 0.5rem;
}

.option-btn::before,
.user-menu::before {
  content: "";
  background-color: var(--clr-5);
  height: 70px;
  z-index: -2;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease-in-out 200ms;
  opacity: 0;
}

.option-btn:hover::before,
.user-menu:hover::before {
  opacity: 1;
}

.options-nav-box {
  position: absolute;
  bottom: -11rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-1);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  place-items: center;
  gap: 1rem;
  display: none;
}

.options-nav-box[data-visible="true"] {
  display: grid;
}

.options-nav-box::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--clr-1);
}

.switch {
  position: relative;
  display: block;
  width: var(--switch-block);
  height: 34px;
  margin-bottom: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: var(--slider-width);
  right: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--clr-2);
}

input:checked + .slider:before {
  transform: translateX(
    calc(-1 * var(--switch-block) + var(--slider-width) + 10px)
  );
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-site {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 135px);
}

.user-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5em;
  background-color: var(--clr-4);
  padding: 4rem 2rem;
  border-radius: 10px;
}

.user-login > h1 {
  margin: 0;
}

.user-name-inp,
.user-paswd-inp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-name-inp > label,
.user-paswd-inp > label {
  font-size: 1.2em;
}

#user-name,
#user-password {
  background-color: transparent;
  border-bottom: 3px solid var(--clr-2);
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--clr-2);
  outline: none;
  position: relative;
  font-size: 1.2em;
}

.sub-btn {
  background-color: var(--clr-5);
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.sub-btn:hover {
  background-color: var(--clr-2);
  color: var(--clr-8);
}
